<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"className":"index-page","layout":{"type":"default"}} -->
<div class="wp-block-group index-page"><!-- wp:template-part {"slug":"search","area":"uncategorized","className":"search-wrap"} /-->

<!-- wp:group {"className":"content-wrap post-indexing","layout":{"type":"default"}} -->
<div class="wp-block-group content-wrap post-indexing"><!-- wp:group {"className":"content-inner-box","layout":{"type":"constrained"}} -->
<div class="wp-block-group content-inner-box"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group">

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">oops page not found</h2>
<!-- /wp:heading -->
<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">go back to homepage or make a research</p>
<!-- /wp:paragraph -->

</div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"aside","area":"uncategorized"} /-->