<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"className":"index-page","layout":{"type":"default"}} -->
<div class="wp-block-group index-page"><!-- wp:template-part {"slug":"search","area":"uncategorized","className":"search-wrap"} /-->

<!-- wp:group {"className":"content-wrap single-entry","layout":{"type":"default"}} -->
<div class="wp-block-group content-wrap single-entry"><!-- wp:group {"className":"content-inner-box","layout":{"type":"constrained"}} -->
<div class="wp-block-group content-inner-box"><!-- wp:post-title /-->

<!-- wp:post-terms {"term":"post_tag","prefix":"tags : "} /-->

<!-- wp:post-content /-->

<!-- wp:group {"className":"post-date","layout":{"type":"constrained"}} -->
<div class="wp-block-group post-date"><!-- wp:paragraph -->
<p>published on :</p>
<!-- /wp:paragraph -->

<!-- wp:post-date /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"page-navigation-box","layout":{"type":"constrained"}} -->
<div class="wp-block-group page-navigation-box"><!-- wp:post-navigation-link {"label":"next"} /-->

<!-- wp:post-navigation-link {"type":"previous","label":"prev","linkLabel":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"content-inner-box","layout":{"type":"constrained"}} -->
<div class="wp-block-group content-inner-box"><!-- wp:template-part {"slug":"popular-posts"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"aside","area":"uncategorized"} /-->