@charset "UTF-8";
.qodef-blog-item {
  padding-top: 52px;
}
.qodef-blog-item:first-child {
  padding-top: 42px;
}
.qodef-blog-item a {
  text-decoration: none;
  display: block;
}

.qodef-blog-item-inner {
  width: 72%;
  margin: 0 auto;
  padding: 0 10px;
}

.qodef-media-image {
  position: relative;
  width: 40%;
  /* Set the aspect ratio to 1:1 */
  padding-top: 40%;
  overflow: hidden;
  margin: 0 auto;
}
.qodef-media-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qodef-text {
  padding-top: 27px;
}

.qodef-title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;
  color: #4b4b4b;
}

.qodef-excerpt {
  padding-top: 18px;
  color: #676767;
}
.qodef-excerpt p {
  display: -webkit-box;
  overflow: hidden;
  max-height: 92px;
  line-height: 1.4;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.qodef-info-category a {
  display: inline-block;
  font-family: "Inter Tight", sans-serif;
  margin-top: 18px;
  margin-left: 5px;
  font-weight: 300;
  text-decoration: none;
  color: #dedede;
}
@media (hover: hover) and (pointer: fine) {
  .qodef-info-category a:hover {
    color: #242424;
    border-color: #474747;
    text-decoration: none;
  }
}
.qodef-info-category a:first-child {
  margin-left: 0;
}

.ajax-load-more-wrap .alm-btn-wrap {
  padding: 44px 0;
}

.content-wrap {
  padding: 26px 0 26px;
  display: flex;
  flex-direction: column;
}
.content-wrap .content-inner-box:first-child {
  text-align: center;
}

.content-inner-box {
  border-radius: 20px;
  padding: 50px 22px;
  background: #fff;
}
.content-inner-box + .content-inner-box {
  margin-top: 26px;
}

.wp-block-group.text-bubble {
  position: relative;
  margin: 60px 9% 190px 9%;
  padding: 50px 37px;
  font-family: "urbanist", sans-serif;
  font-size: 23px;
  letter-spacing: -0.2px;
  font-weight: 300;
  line-height: 1.8;
  color: #fcfcfc;
  background: #2288f8;
  border-radius: 34px;
}
.wp-block-group.text-bubble p {
  margin: 0;
}
.wp-block-group.text-bubble:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -11px;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #2288f8;
}
.wp-block-group.text-bubble:before {
  content: "";
  position: absolute;
  bottom: -150px;
  left: 50%;
  margin-left: -65px;
  display: block;
  width: 130px;
  height: 130px;
  background: #f8f8f8;
  border-radius: 80px;
  background-size: 130px 130px;
}
.wp-block-group.text-bubble.celebrate:before {
  background-image: url(./src/img/set-memoji/memoji-celebrate.png);
}
.wp-block-group.text-bubble.dizzy:before {
  background-image: url(./src/img/set-memoji/memoji-dizzy.png);
}
.wp-block-group.text-bubble.neh:before {
  background-image: url(./src/img/set-memoji/memoji-neh.png);
}
.wp-block-group.text-bubble.secret:before {
  background-image: url(./src/img/set-memoji/memoji-secret.png);
}
.wp-block-group.text-bubble.shh:before {
  background-image: url(./src/img/set-memoji/memoji-shh.png);
}
.wp-block-group.text-bubble.shock:before {
  background-image: url(./src/img/set-memoji/memoji-shock.png);
}
.wp-block-group.text-bubble.sick:before {
  background-image: url(./src/img/set-memoji/memoji-sick.png);
}
.wp-block-group.text-bubble.smash:before {
  background-image: url(./src/img/set-memoji/memoji-smash.png);
}
.wp-block-group.text-bubble.think:before {
  background-image: url(./src/img/set-memoji/memoji-think.png);
}
.wp-block-group.text-bubble.ugh:before {
  background-image: url(./src/img/set-memoji/memoji-ugh.png);
}
.wp-block-group.text-bubble.wink:before {
  background-image: url(./src/img/set-memoji/memoji-wink.png);
}

.wp-block-group.text-sidenote {
  margin: 50px auto !important;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.07);
  border-radius: 40px;
  color: #474747;
}
.wp-block-group.text-sidenote .wp-block-heading {
  padding: 30px 7% 28px;
  margin-top: 0;
  font-family: "urbanist", sans-serif;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 1.6;
  border-bottom: 1px solid #eaeaea;
}
.wp-block-group.text-sidenote .wp-block-heading:before {
  content: "📌";
  font-family: "Noto Color Emoji";
  display: inline-block;
  padding-right: 10px;
}
.wp-block-group.text-sidenote p {
  margin-top: 0;
  padding: 32px 7% 38px;
}

.wp-block-post-featured-image {
  margin-bottom: 30px;
}

.wp-block-post-title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  color: #424242;
}
.wp-block-post-title a {
  text-decoration: none;
  color: #424242;
}

.wp-block-post-excerpt {
  margin-top: 11px;
}

.content-inner-box {
  font-size: 22px;
  font-weight: 300;
  color: #676767;
}
.content-inner-box .taxonomy-post_tag {
  margin: 42px 0 5px;
}
.content-inner-box .taxonomy-post_tag a {
  display: inline-block;
  font-family: "Inter Tight", sans-serif;
  padding: 2px 16px 2px;
  margin: 0 5px 5px 0;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: #bebebe;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
@media (hover: hover) and (pointer: fine) {
  .content-inner-box .taxonomy-post_tag a:hover {
    color: #242424;
    border-color: #474747;
  }
}
.content-inner-box .wp-block-post-terms__separator {
  color: transparent;
  font-size: 0;
}
.content-inner-box .wp-block-image {
  display: inline-block;
  margin-top: 62px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-radius: 4px;
}
.content-inner-box .wp-block-image img {
  display: inline-block;
  vertical-align: top;
}
.content-inner-box .wp-block-heading {
  font-family: "Inter Tight", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 50px;
  color: #424242;
}
.content-inner-box .wp-block-heading:first-child {
  margin-top: 0;
}
.content-inner-box .entry-content {
  margin-bottom: 84px;
}
.content-inner-box .wp-block-post-date {
  display: inline-block;
  margin-top: 11px;
  font-weight: 300;
  color: #bebebe;
}
.content-inner-box .taxonomy-category {
  display: inline-block;
  margin-left: 8px;
}
.content-inner-box .taxonomy-category a {
  font-family: "urbanist", sans-serif;
  font-size: 21px;
  font-weight: normal;
  text-transform: capitalize;
  color: #2288f8;
  border-radius: 2px;
  padding: 6px;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .content-inner-box .taxonomy-category a:hover {
    background-color: #2288f8;
    color: #fff;
  }
}
.content-inner-box table {
  color: #2288f8;
}

.wp-block-post-content p {
  margin: 40px 0;
}
.wp-block-post-content ul {
  margin: 42px 0 54px;
}
.wp-block-post-content ul li:before {
  content: "-";
  padding: 0 4px 0 2px;
}
.wp-block-post-content ul li ~ li {
  margin-top: 13px;
}

.instagram-media-rendered,
.twitter-tweet-rendered {
  margin: 14px auto !important;
}

.wp-block-aioseo-table-of-contents {
  margin: 65px auto !important;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.07);
  border-radius: 40px;
  text-align: center;
}
.wp-block-aioseo-table-of-contents + .wp-block-heading {
  margin-top: 65px;
}
.wp-block-aioseo-table-of-contents:before {
  content: "Table of Contents";
  display: block;
  padding: 32px 14px 27px;
  font-family: "urbanist", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #424242;
  border-bottom: 1px solid #eaeaea;
}
.wp-block-aioseo-table-of-contents ul {
  counter-reset: my-counter;
  margin: 0;
  line-height: 1.8;
  padding: 24px 14px 38px;
}
.wp-block-aioseo-table-of-contents ul li {
  position: relative;
  padding-left: 10px;
  display: table;
  margin: 0 auto;
  max-width: 84%;
}
.wp-block-aioseo-table-of-contents ul li:before {
  content: counter(my-counter) ".";
  counter-increment: my-counter;
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -16px;
  min-width: 40px;
  min-height: 40px;
  font-family: "urbanist", sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: #2288f8;
}
.wp-block-aioseo-table-of-contents ul li ~ li {
  margin-top: 0;
}
.wp-block-aioseo-table-of-contents ul a {
  display: inline-block;
  text-decoration: none;
  margin-top: 13px;
  word-wrap: break-word;
  font-family: "urbanist", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 2.2;
  letter-spacing: -0.2px;
  color: #2288f8;
}
.wp-block-aioseo-table-of-contents ul a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=single.css.map */